[tool.poetry]
name = "gutt"
version = "0.3.0"
description = "Auto generate unit test templates"
authors = ["Ryan <ryanchao2012@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/ryanchao2012/gutt"

[tool.poetry.dependencies]
python = "^3.6"
click = "^7.1.2"
isort = "<5.9"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
invoke = "^1.5.0"
flake8 = "^3.9.0"
pytest = "^6.2.2"
pytest-cov = "^2.11.1"
ipython = "^6"

[tool.poetry.scripts]
testgen = "gutt.cli.main:main"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
